@import "tailwindcss";

.bg-auth-image {
  background-image: url("../../public/bg-auth-lunza.jpeg");
}

.shadow-black {
  box-shadow: 4px 4px 5px 0px rgba(10, 10, 10, 0.2);
  -webkit-box-shadow: 4px 4px 5px 0px rgba(10, 10, 10, 0.2);
  -moz-box-shadow: 4px 4px 6px 0px rgba(10, 10, 10, 0.2);
}

.bg-none {
  background-image: none;
}

.sidebar-item-line::before {
  content: "";
  position: absolute;
  height: 34px;
  width: 2px;
  display: inline;
  background-color: var(--color-rose-700);
  left: -5px;
  transform: translateY(1px);
}

* {
  animation: revert !important;
  transition: revert !important;
}

body {
  font-family: var(--font-inter), sans-serif;
  overflow-x: hidden;
}
